<div class="row">
<div class="col-sm-1">
</div>
  <div class="col-sm-3">
    <h1> Users </h1>
    <% @users.each do |user| %>
      <h2> <%= "#{user.email} -- id: #{user.id}" %> </h2>
      <%= form_for(user.links.build) do |f| %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= number_field_tag :linkable_id %>
        <%= f.submit "Add Friend" %>
      <% end %>
      <%= form_for(user.links.build) do |f| %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= hidden_field_tag :linkable_type, 'Developer' %>
        <%= number_field_tag :linkable_id %>
        <%= f.submit "Add Developer" %>
      <% end %>
      <h3>Friends:</h3>
      <% user.friends.each do |friend| %>
        <p> <%= "#{friend.email} -- #{friend.id}" %> </p>
      <% end %>
      <h3>Pending Friends:</h3>
      <% user.pending_friends.each do |friend| %>
        <p> <%= "#{friend.email} -- #{friend.id}" %> </p>
      <% end %>
      <h3>Friend Requests Recieved:</h3>
      <% user.friend_requests.each do |friend| %>
        <p> <%= "#{friend.email} -- #{friend.id}" %> </p>
        <%= form_for(user.links.build) do |f| %>
          <%= hidden_field_tag :user_id, user.id %>
          <%= hidden_field_tag :linkable_id, friend.id %>
        <%= f.submit "Accept Request" %>
        <% end %>
      <% end %>
      <h3>Developers:</h3>
      <% user.developers.each do |dev| %>
        <p> <%= "#{dev.email} -- #{dev.id}" %> </p>
      <% end %>
       <h3>Developer Requests Recieved:</h3>
      <% user.developer_requests.each do |dev| %>
        <p> <%= "#{dev.email} -- #{dev.id}" %> </p>
        <%= form_for(user.links.build) do |f| %>
          <%= hidden_field_tag :user_id, user.id %>
          <%= hidden_field_tag :linkable_type, 'Developer' %>
          <%= hidden_field_tag :linkable_id, dev.id %>
        <%= f.submit "Accept Request" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h1> Developers </h1>
    <% @developers.each do |dev| %>
      <h2> <%= "#{dev.email} -- #{dev.id}" %> </h2>
      <%= form_for(dev.links.build) do |f| %>
        <%= hidden_field_tag :linkable_id, dev.id %>
        <%= hidden_field_tag :linkable_type, 'Developer' %>
        <%= hidden_field_tag :toggle, 'true' %>
        <%= number_field_tag :user_id %>
        <%= f.submit "Add User" %>
      <% end %>
      <h3> Users: </h3>
      <% dev.users.each do |user| %>
        <p> <%= "#{user.email} -- #{user.id}" %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h1> Links </h1>
    <% @links.each do |link| %>
      <p><%= "#{User.find(link.user_id).email} -- #{User.find(link.linkable_id).email} or developer something -- #{link.linkable_type}" %></p>
    <% end %>
  </div>
</div>